# NPM
npm-debug.log*
node_modules/
.npm

# IDEs
.vscode/
*.code-workspace

# ignore package-lock.json since it's a package
# see https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

# bundler
dist/
.cache

# OSX
.DS_Store
.AppleDouble
.LSOverride

# test coverage
coverage/

# type definitions in the project root are copied from types/ folder
# before publishing, so they should be ignored
/*.d.ts
