# NPM
npm-debug.log*
node_modules/
.npm

# IDEs
.vscode/
*.code-workspace

# bundler
esm/
.cache

# OSX
.DS_Store
.AppleDouble
.LSOverride

# test coverage
coverage/

# vitest internals
tsconfig.vitest-temp.json

# type definitions in the project root are copied from types/ folder
# before publishing, so they should be ignored
/*.d.ts
